[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"newspaper3k" = "*"
tensorflow = "*"
flask-limiter = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
